
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Applicants List</h4>
                                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="ft-external-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Job Title</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{range $index, $applicant := .Applicants}}
                                                <tr>
                                                    <td class="text-truncate">{{$applicant.Name}}</td>
                                                    <td class="text-truncate">{{$applicant.Email}}</td>
                                                    <td class="text-truncate">{{$applicant.Job.Title}}</td>
                                                    {{if eq $applicant.Status 1}}
                                                    <td><button class="btn btn-warning">Pending</button></td>
                                                    {{else if eq $applicant.Status 2}}
                                                    <td><button class="btn btn-primary">Scheduled</button></td>
                                                    {{else if eq $applicant.Status 3}}
                                                    <td><button class="btn btn-success">Approved</button></td>
                                                    {{else}}
                                                    <td><button class="btn btn-danger">Rejected</button></td>
                                                    {{end}}
                                                </tr>
                                            {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                <!-- Recent invoice with Statistics -->
