{{template "header.html" .}}

{{template "top_nav.html" .}}


{{template "side_nav.html" .}}

  {{template "content_header.html" .}}
<div class="row">
    <div class="col-12">
        {{template "top_summary.html" .}}
    </div>
</div>
<!--/ project stats -->
<!--/ project charts -->
<div class="row match-height">
    <div class="col-xl-8 col-lg-12">

        {{template "table.html" .}}
    </div>
    <div class="col-xl-4 col-lg-12">
      {{template "calendar.html" .}}
    </div>
</div>
<!--/ project charts -->

<!-- Recent invoice with Statistics -->
<div class="row match-height">
    <div class="col-xl-12 col-lg-12">
        {{template "table_2.html" .}}
    </div>
</div>
<!-- Recent invoice with Statistics -->


{{template "footer.html" . }}