{{template "header.html" .}}

{{template "top_nav.html" .}}


{{template "side_nav.html" .}}

  {{template "content_header.html" .}}
  <section class="row">
	<div class="col-12">
	    <div class="card">
	        <div class="card-head">
	            <div class="card-header">
	            	<h4 class="card-title">All Users</h4>
		            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        			<div class="heading-elements">
		                <button class="btn btn-primary btn-sm"><i class="ft-plus white"></i> Add User</button>
            			<span class="dropdown">
	                        <button id="btnSearchDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-warning dropdown-toggle dropdown-menu-right btn-sm"><i class="ft-download-cloud white"></i></button>
	                        <span aria-labelledby="btnSearchDrop1" class="dropdown-menu mt-1 dropdown-menu-right">
	                            <a href="#" class="dropdown-item"><i class="ft-upload"></i> Import</a>
	                            <a href="#" class="dropdown-item"><i class="ft-download"></i> Export</a>
	                            <a href="#" class="dropdown-item"><i class="ft-shuffle"></i> Find Duplicate</a>
	                        </span>
	                    </span>
		            </div>
	            </div>
	        </div>
	        <div class="card-content">
	            <div class="card-body">
	                <!-- Task List table -->
	                <div class="table-responsive">
		                <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
					        <thead>
					            <tr>
					                <th>Name</th>
					                <th>Email</th>
					                <th>Phone</th>
					                <th>Position</th>
					                <th>Role</th>
									<th>Status</th>
									<th>Action</th>
					            </tr>
					        </thead>
					        <tbody>
								{{range .Users}}
					            <tr>
					                <td>
					                	<div class="media">
							                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="https://enterprise-class.sgp1.cdn.digitaloceanspaces.com/{{.Profile}}" alt="avatar"><i></i></span></div>
							                <div class="media-body media-middle">
							                    <a href="#" class="media-heading">{{.Username}}</a>
							                </div>
							            </div>
					                </td>
				                    <td class="text-center">
					                	<a href="mailto:email@example.com">{{.Email}}</a>
					                </td>
					                <td>{{.Phone}}</td>
					                <td class="text-center">{{.PositionId}}</i></td>
									<td class="text-center">{{.RoleId}}</i></td>
									{{if eq .Status 1}}
									<td class="text-center"><button class="btn btn-success">Active</button></td>
									{{else}}
									<td class="text-center"><button class="btn btn-secondary">Closed</button></td>
									{{end}}
					                <td>
					                	<span class="dropdown">
					                        <button id="btnSearchDrop2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-primary dropdown-toggle dropdown-menu-right"><i class="ft-settings"></i></button>
					                        <span aria-labelledby="btnSearchDrop2" class="dropdown-menu mt-1 dropdown-menu-right">
					                            <a href="#" class="dropdown-item"><i class="ft-edit-2"></i> Edit</a>
					                            <a href="#" class="dropdown-item"><i class="ft-trash-2"></i> Delete</a>
					                            <a href="#" class="dropdown-item"><i class="ft-plus-circle primary"></i> Projects</a>
					                            <a href="#" class="dropdown-item"><i class="ft-plus-circle info"></i> Team</a>
					                            <a href="#" class="dropdown-item"><i class="ft-plus-circle warning"></i> Clients</a>
					                            <a href="#" class="dropdown-item"><i class="ft-plus-circle success"></i> Friends</a>
					                        </span>
					                    </span>
					                </td>
					            </tr>
								{{end}}
					        </tbody>
					    </table>
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>


{{template "footer.html" . }}