{{template "header.html" .}}

{{template "top_nav.html" .}}


{{template "side_nav.html" .}}

  {{template "content_header.html" .}}
  <section class="row">
	<div class="col-12">
	    <div class="card">
	        <div class="card-head">
	            <div class="card-header">
	            	<h4 class="card-title">All Users</h4>
		            <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
        			<div class="heading-elements">
		                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#large"><i class="ft-plus white"></i> Add User</button>
		            </div>
	            </div>
	        </div>
	        <div class="card-content">
	            <div class="card-body">
	                <!-- Task List table -->
	                <div class="table-responsive">
		                <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
					        <thead>
					            <tr>
					                <th>Name</th>
					                <th>Email</th>
					                <th>Phone</th>
					                <th>Position</th>
					                <th>Role</th>
									<th>Status</th>
									<th>Action</th>
					            </tr>
					        </thead>
					        <tbody>
								{{range .Users}}
					            <tr>
					                <td>
					                	<div class="media">
							                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="https://enterprise-class.sgp1.cdn.digitaloceanspaces.com/{{.Profile}}" alt="avatar"><i></i></span></div>
							                <div class="media-body media-middle">
							                    <a href="#" class="media-heading">{{.Username}}</a>
							                </div>
							            </div>
					                </td>
				                    <td class="text-center">
					                	<a href="mailto:email@example.com">{{.Email}}</a>
					                </td>
					                <td>{{.Phone}}</td>
					                <td class="text-center">{{.PositionId}}</i></td>
                                    {{if eq .RoleId 1}}
                                    <td class="text-center"><button class="btn btn-primary text-center">Admin</button></td>
                                    {{else}}
                                    <td class="text-center"><button class="btn btn-secondary text-center">Employee</button></td>
                                    {{end}}
									{{if eq .Status 1}}
									<td class="text-center"><button class="btn btn-success">Active</button></td>
									{{else}}
									<td class="text-center"><button class="btn btn-secondary">Closed</button></td>
									{{end}}
					                <td>
					                    <button type="button" class="btn btn-primary">Edit</button>
										<button type="button" class="btn btn-danger">Delete</button>
					                </td>
					            </tr>
								{{end}}
					        </tbody>
					    </table>
				    </div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade text-left" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel17">User</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="user/create" method="POST" enctype="multipart/form-data" >
                <div class="form-group m-5">
                    <h3>Username</h3>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                    <h3 class="mt-2">Email</h3>
                    <input type="text" name="email" class="form-control" placeholder="Email">
					<h3 class="mt-2">Date of Birth</h3>
                    <input type="date" name="dob" class="form-control" placeholder="Email">
                    <h3 class="mt-2">Role</h3>
                    <select class="form-control" name="role" id="">
						<option value="1">Admin</option>
						<option value="2">Employee</option>
					</select>
					<h3 class="mt-2">Position</h3>
                    <select class="form-control" name="position" id="">
						<option value="1">Test 1</option>
						<option value="2">Test 2</option>
					</select>
					<h3 class="mt-2">Phone Number</h3>
                    <input type="text" name="phone" class="form-control" placeholder="Phone Number">
                    <h3 class="mt-2">Salary</h3>
                    <input type="number" name="salary" class="form-control" placeholder="salary">
                    <h3 class="mt-2">Profile</h3>
                    <input type="file" name="img" class="form-control" placeholder="Contact">
					<h3 class="mt-2">Password</h3>
					<input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Save changes</button>
                  </div>
              </div>
            </form>
        </div>
      </div>
</section>


{{template "footer.html" . }}